div > ul { display:block;width:80%;background-color:#909090;padding:2px;margin-left:10%; }

/* li */
li { margin:4px;padding:0.5em;
     display:block; }
section { display:inline-block; }
h2 { display:inline-block;margin:0.25em;
     font-size:1.4em; }
details.score { background-color:#e0e0e0;border:1px black solid;
	  padding:0.45em;vertical-align:auto;float:left;width:3em;}

/* buttons madness */
div.buttons { margin:0;padding:0;display:inline-block;width:auto; }
code { display:inline-block; margin:0 1.5em; }
code button { background-color:#70ff70; }
code button + button { background-color:#ff7070; }
code+code button+button { background-color:#707070; }
code+code button+button+button { background-color:#ff7070; }

/* descriptive stuff */
article { display:none; margin:1em; }
details.des { display:block;margin-bottom:0.5em; }
details.des ul { background-color:#abcdef;display:inline-block;padding-left:1em; }
details.des li { background-color:#ffffff;
		 padding:0.4em;margin-right:0.2em;
		 display:inline-block; }
summary { margin:.5em;display:block; }
h3 { font-weight:bold; }

/* telling us which is which */
.hi { background-color:#b0ffb0; }
.md { background-color:#c0c0c0; }
.lo { background-color:#ffb0b0; }